<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Penny Saved</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button onclick="location.href='/auth/google'"><i class="material-icons left"></i>Login with Google</button>

    <div id="aPennySaved">
      <img src="images/money-jar.png" alt="">
    </div>
    
    <h1>A Penny Saved</h1>
  </body>
</html>
