<%- include('../partials/header') %>

<main class="form">
    <header class="header-footer">New Savings Goal</header>
    <form action="/users/<%= user.id %>/goals" method="POST">
        <div class="form-group">   
            <input class="form-control" type="number" step="0.01" name="goal" class="form-control" placeholder="$ Amount" required>
        </div>
        <div class="form-group">  
            <input class="form-control" type="text" name="savingsPurpose" class="form-control" placeholder="Goal Name" required>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit" >Submit</button> 
        </div>    
    </form>

</main>

<%- include('../partials/footer') %>