body {
  margin: 0;
  height: 100 vh;
  background-color: white;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

nav {
  background-color: #738067;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  background-color: #9ACC68;
  border-radius: 5px;
  margin: 20px;
  border: solid white 5px;
}

main {
  display: grid;
}

#user-profile {
  grid-template-rows: 4fr 1fr 1fr 1fr;
  grid-template-areas:
  "currentGoal"
  "new-goal-button"
  "dropdown"
  "form"
}

#currentGoal {
  grid-area: currentGoal;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-goal-button {
  grid-area: new-goal-button;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  grid-area: dropdown;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
}




#jar-o-money {
  background-image: url("/images/money-jar.png");
}

img {
  border-radius: 250px;
  border: solid #9ACC68 20px;
  margin: 20px;
}

#unassigned{
  color: #608041;
  color: #BFFF81;
  color: #738067;
  color: #9ACC68;
  color: #E7FFCF;
}
