body {
  margin: 0;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

nav {
  background-color: #738067;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

button {
  background-color: #9ACC68;
  border-radius: 5px;
  margin: 0 20px;
  border: white 5px;
}

main {
  grid-area: main;
}

form {
  margin: 0 50px;
}

table {
  font-size: 15px;
}

td, th {
  text-align: center;
}

.col {
  margin: 20px;
  font-size: 15px;
}

.progress {
  height: 200px;
}

#savings-timeline {
  font-size: 30px;
  text-align: center;
  margin: 0 0 0 20;
}

#index-body {
  background: url(/images/casheGrow.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#index-body > nav {
  background-color: white;
  opacity: 0.5;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "title"
  "subtitle"
}

#index-body > h1 {
  font-size: 50px;
  background-color: transparent;
}

#user-profile {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-areas:
  "title"
  "new-goal-button"
  "cache-table"
}

#user-profile > h1 {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#user-profile > button {
  grid-area: new-goal-button;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jar-o-money {
  background-image: url("/images/money-jar.png");
}

img {
  border-radius: 250px;
  border: solid #9ACC68 20px;
  margin: 20px;
}

#unassigned{
  color: #608041;
  color: #BFFF81;
  color: #738067;
  color: #9ACC68;
  color: #E7FFCF;
}
